*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}
h1{
    color:#078080;
    text-align: center;
    font-weight: bold;
}
#photo{
    width: 200px;
    height: auto;
}
.subtitle{
    color:  rgb(107 114 128 / 0.89);
    text-transform: uppercase;
}

section {
    margin: 4px 2px 8px 2px; 
    border: 0.2pt solid #cedddd; 
    padding: 1.5% 0.8%; 
    padding-left: 1.2%; 
    padding-right: 1.2%; 
    border-radius: 5px;         
}
nav ul {

    /* Modelo de diseño flexible */
    display: flex;									
    justify-content: space-around;
   
}
/* #resumen {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height: 24vh;
    flex-wrap: wrap;
}
#resumen p, #resumen h2 {
    width: 50%;
}

#resumen img{
    max-width: 50%;
} */

#resumen{
    display: grid;
    justify-content: space-around;
    align-items: stretch;
    grid-template-areas: "A D" 
                         "B D";
}
#resumen h2{
    grid-area: A;
}
#resumen p{
    grid-area: B;
}
#resumen img{
    grid-area: D;
}